
.container { position:relative; width:100%; float:left; margin-top:40px;}

/* Header */

/* Navigation */
#nav { position: absolute; bottom: -3px; margin: 0; padding: 0; list-style: none; }
#nav li { display: block; float: left; width: 200px; margin-right: 1px; text-align: center; font-weight: bold; }
#nav li a { display: block; padding: 15px 0; text-transform: uppercase; border-radius: 0; text-decoration: none; color: #ccc;
	background: #4a4a4a; background: rgba(255,255,255,.04); -webkit-border-radius: 2px 2px 0 0; border-radius: 2px 2px 0 0;
}
#nav li a:hover { color: #fff; text-shadow: 1px 1px 0 rgba(0,0,0,.5); background: #4a4a4a; background: rgba(255,255,255,.1); }
#nav li a.active { color: #424242; text-shadow: none; background: #f5f5f5;
	background: -moz-linear-gradient(top,  #ffffff 32%, #f5f5f5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(32%,#ffffff), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 32%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 32%,#f5f5f5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 32%,#f5f5f5 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 32%,#f5f5f5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
	box-shadow: 0 -3px 0 rgba(0,0,0,.5);
}

/* Content */
#content {  background: none repeat scroll 0 0 #fff; width:100%;/*height:60%; margin-top:4%;*/
    /*margin-top: 0%;*/
}
#demo1,#demo2 { float: left;}

/* ==========================================================================
   Page styles
   ========================================================================== */

/* universal sly */
.slyWrap .controls { margin: 20px 0 ; }

.controls { text-align: center; }

.pages { list-style: none; margin: 20px 0; padding: 0; text-align: center; }
.pages li { display: inline-block; width: 11px; height: 11px; margin: 0 2px; text-indent: -999px; background: #fff; border-radius: 10px; cursor: pointer;
	overflow: hidden; border: 1px solid #aaa;
}
.pages li:hover { background: #eee; }
.pages li.active { background: #999; border-color: #888; box-shadow: inset 0 0 0 2px #eee; }

/*.scrollbar {  margin:40px auto; background:url(../img/scroll.jpg) no-repeat; width:1004px; padding-right:20px; height:21px; overflow:hidden;}
.scrollbar .handle {  cursor: pointer; line-height: 0; background:#808080; height:5px;}
#horizontal .scrollbar { height: 21px; }
#horizontal .scrollbar .handle { width:982px; height: 8px; margin:7px auto 7px 20px; overflow:hidden;}
*/
.scrollbar { background: #fff; float:left; border-radius: 4px; border: 6px solid #f0eeed; line-height: 0; width:970px;}
.scrollbar .handle { border-radius: 4px; background: #73818c; cursor: pointer; line-height: 0;
	-webkit-box-shadow: 0 1px 0 #555;
	-moz-box-shadow: 0 1px 0 #555;
	-o-box-shadow: 0 1px 0 #555;
	box-shadow: 0 1px 0 #555;
}
#horizontal .scrollbar { margin:0px auto; height: 7px; }
#horizontal .scrollbar .handle { width: 40px; height: 100%;  }
.quan{ float:left; }
.zheng{ width:1024px; margin:40px auto;}



#horizontal .example2 .sly {  height: 340px;  margin-top:1%; margin-left:90px; }
#horizontal .example2 .sly ul { height: 100%; }
#horizontal .example2 .sly ul li { float: left; width: 226px; height: 340px; margin: 40px 10px 0 0;  }
.about_main{ height:300px; background:#fff; position:relative; margin:0;  padding: 0; cursor: pointer;}

#horizontal .example4 .sly ul li.active { opacity: 1; }


/* Vertical example */
#infinite .controlbar { margin: 2em 0 1.5em; }
#infinite .frameWrap { position: relative; height: 500px; }
#infinite .frame { height: 500px; margin-right: 20px; overflow: hidden; border: 1px solid #888; }
#infinite .frame ul { width: 100%; margin: 0; padding: 0; list-style: none; }
#infinite .frame ul li { margin: 0 0 5px 0; padding: 0; height: 200px; line-height: 200px; font-size: 30px; border-bottom: 1px solid #aaa;
	background: #eee; color: #888; text-align: center;
}

.sly { overflow: hidden; }
.sly > ul { list-style: none; margin: 0; padding: 0; }
.sly > ul li { position: relative; margin: 0; padding: 0; background: #fff; color: #fff;  cursor: pointer; }
.sly > ul li:hover{  background: #cc3333;}
.sly > ul li.last:hover{  background:none;}
.sly > ul li:hover .small_about4 h2{ color:#fff;} 

.sly > ul li:hover .small_about2 a{ color:#fff;}


.sly > ul li:hover .small_about4 h3{ color:#fff;}
.sly > ul li:hover .small_about4 p{ color:#fff;}
.sly > ul li:hover .small_about4 p font{ color:#fff;}
.sly > ul li.active { background: #73818c; color: #4DBCE9;
	/*-webkit-box-shadow: inset 0 0 0 1px #4DBCE9, inset 0 0 40px 20px #97e6f7;
	-moz-box-shadow: inset 0 0 0 1px #4DBCE9, inset 0 0 40px 20px #97e6f7;
	-o-box-shadow: inset 0 0 0 1px #4DBCE9, inset 0 0 40px 20px #97e6f7;
	box-shadow: inset 0 0 0 1px #4DBCE9, inset 0 0 40px 20px #97e6f7;*/
}
.sly > ul li.last{ background:#fff;}



#infinite .scrollbar { position: absolute; top: 0; right: 0; width: 5px; height: 498px; }
#infinite .scrollbar .handle { height: 100px; width: 100%; }


/* ==========================================================================
   Non-semantic helper classes
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Floats */
.fleft { float: left; }
.fright { float: right; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* PrettyPrint styles */
.pln{color:#000}@media screen{.str{color:#080}.kwd{color:#008}.com{color:#800}.typ{color:#606}.lit{color:#066}.pun,.opn,.clo{color:#660}.tag{color:#008}.atn{color:#606}
.atv{color:#080}.dec,.var{color:#606}.fun{color:red}}@media print,projection{.str{color:#060}.kwd{color:#006;font-weight:bold}.com{color:#600;font-style:italic}
.typ{color:#404;font-weight:bold}.lit{color:#044}.pun,.opn,.clo{color:#440}.tag{color:#006;font-weight:bold}.atn{color:#404}.atv{color:#060}}
ol.linenums{margin-top:0;margin-bottom:0}li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{list-style-type:none}li.L1,li.L3,li.L5,li.L7,li.L9{background:#eee}


.scrollbar_main{ width:1024; }


.people{ width:200px; height:300px; margin:0 auto;}
.people p{ width:200px;}


.head{ width:100%; height:40px; background:#033;}
.header{ width:500px; height:40px; margin:0 auto;}
.header ul li{ float:left; padding-left:30px; padding-right:30px; list-style:none;}
.header ul li a{ color:#fff; font-size:14px; font-family:"微软雅黑"; line-height:40px;}


.about{ width:420px; height:300px; margin:0 auto;}
.about_text{ width:420px; height:auto; margin-top:5px; float:left;}
.about_text p a{ color:#ccc; font-size:12px; font-family:"微软雅黑"; line-height:18px;}
.about_text p{ margin:0px; padding:0px;}

.small_about{ width:200px; height:300px; margin:0 auto; position:relative;}
.small_about1{ width:200px; height:270px; overflow:hidden;}
.small_about1 p{ margin-top:12px; color:#333; font-size:12px; font-family:"微软雅黑"; line-height:18px;}
.small_about1:hover p{ color:#fff;}
.small_about1:hover h2{ color:#fff;}
.small_about2{ width:200px; height:24px; position:absolute; left:0; bottom:0px;}
.small_about2 a{ color:#e4352c; font-size:12px; font-family:"微软雅黑"; line-height:24px;}


.small_about3{ width:200px; height:auto; float:left; padding-top:15px;}
.small_about4{ width:200px; height:auto; float:left; margin-top:5px; line-height:30px;}
.small_about4 h2{ color:#555; font-size:16px; font-family:"微软雅黑"; font-weight:bold; }
.small_about4 h3{ color:#555; font-size:12px; font-family:"微软雅黑";}
.small_about4 p{ margin-bottom:10px; width:200px; word-break: break-all; work-wrap: break-word; overflow:hidden; color:#555; font-size:12px; font-family:"微软雅黑";}
.small_about4 p font{ font-weight:bold; font-size:14px; color:#555; font-family:"微软雅黑";}
.about2{ width:420px; height:300px; margin:0 auto; position:relative;}
.about2_text{ float:left; width:420px; height:auto;}
.about2_text1{ width:200px; height:auto; margin-top:45px;}
.about2_text_left{ float:left; width:200px; height:300px;}
.about2_text2{ width:200px; height:auto;line-height:30px;}
.about2_text2 h2{ color:#ccc; font-size:16px; font-family:"微软雅黑"; font-weight:bold; }
.about2_text2 h3{ color:#ccc; font-size:12px; font-family:"微软雅黑";}
.about2_text2 p{ width:200px; word-break: break-all; work-wrap: break-word; overflow：hidden; color:#ccc; font-size:12px; font-family:"微软雅黑";}
.about2_text2 p font{ font-weight:bold; font-size:14px; color:#ccc; font-family:"微软雅黑";}
.about2_text_right{ float:right; padding-top:50px; height:290px;}
.about2_text_right p{ margin-bottom:10px; width:200px; word-break: break-all; work-wrap: break-word; overflow：hidden; color:#ccc; font-size:12px; font-family:"微软雅黑";}
.about2_text_right p font{ font-weight:bold; font-size:14px; color:#ccc; font-family:"微软雅黑";}


.title{ width:100%; height:26px; text-align:center; position:relative;}
.inner_title{ position:absolute;right:22%;float:right;}
.search{ float:right; width:153px; height:26px; }
.search1{ float:left; width:120px; height:26px; }
.seah{ width:110px; height:26px; background:url(../img/search1.jpg) no-repeat; padding-left:10px; color:#ccc; font-size:14px; font-family:"微软雅黑"; line-height:26px;}
.search2{ float:right; width:33px; height:26px;}


.about_title{ position:absolute; left:0px; top:-40px; /*width:200px;*/ height:30px; border-bottom:1px solid #db332a; }
.about_title span{ background:url(../img/icon.jpg) no-repeat; width:11px; height:3px; position:absolute; top:31px; left:35px;}
.about_title h2{ color:#333333; font-size:16px; font-family:"微软雅黑"; line-height:30px; background:url(../img/icon1.jpg) right center no-repeat; padding-right:15px;}

.headmenu{width:100%; height:50px; text-align:center; position:relative; /*margin-top:5%;*/}
.logo{ float:left; position:absolute; left:23%;}
.menu{ float:right; right:23%; position:absolute;}
.menu ul li{ float:left; padding-left:50px;}
.menu ul li a{ color:#333333; font-size:16px; font-family:"微软雅黑"; line-height:30px;}
.menu ul li a:hover,.menu ul li a.cur{ color:#e01b11;}

#box {
    /*background: none repeat scroll 0 0 #666;*/
    display: table;
    margin: 0 auto;
    position: relative;
    text-align: left;
    width: 100%;
}

.foot{ width:100%; height:50px; background:url(../img/bottom.jpg) repeat-x;}
.copy{ float:right; padding-right:50px;}
.copy p{ color:#b9bfc5; font-size:12px; font-family:"微软雅黑"; line-height:40px;}
.copy p em{ font-style:normal; color:#b9bfc5; font-size:12px; font-family:"微软雅黑"; line-height:40px; padding-right:20px;}
.copy p font{ font-weight:bold; color:#333; font-size:12px; font-family:"微软雅黑"; line-height:40px;}

.home{ float:right; padding-right:50px; width:165px; height:22px; margin-top:8px;}
.home1{ float:left;}
.home1 a{ color:#666666; font-size:14px; font-family:"微软雅黑"; line-height:22px; background:url(../img/home1.jpg) left center no-repeat; padding-left:30px;}
.home2{ float:left; padding-left:30px;}

.home3{ float:right; width:51px; height:auto; position:relative;}
.home3 a{ color:#666666; font-size:14px; font-family:"微软雅黑"; line-height:22px; background:url(../img/home4.jpg) right center no-repeat;  display:block;}
.home3 ul{ width:51px; height:auto; position:absolute; top:22px; left:0px; display:none;}
.home3 ul li{ float:left; width:51px; height:auto;}
.home3 ul li a{ background:none; display:block;}

.assess{ width:200px; height:auto; float:left; padding-top:15px;}
.assess h2{ color:#cc3333; font-size:30px; font-family:Arial; margin-bottom:5px;}
.assess p{ color:#555; font-size:12px; font-family:"微软雅黑"; line-height:22px;}
.sly > ul li:hover .assess h2{ color:#fff;} 
.sly > ul li:hover .assess p{ color:#fff;}

.big_assess{ width:380px; height:300px; margin:30px auto;}
.big_assess_left{ float:left; width:171px; height:auto;}
.big_assess_left p{ color:#fff; font-size:12px; font-family:"微软雅黑"; line-height:20px;}
.big_assess_right{ float:right; width:171px; height:228px;}
.big_assess_left1 p{ line-height:14px;}
.pg1 span{ left:20px;}
.pg2 span{ left:40px;}
.zp1 h2{ color:#555; font-size:18px; font-family:Arial, Helvetica, sans-serif; line-height:28px;}
.zp1 h3{ color:#555; font-size:14px; font-family:Arial, Helvetica, sans-serif; line-height:24px; font-weight:bold;}

.zp_text{ float:left; width:420px; height:auto;}
.zp_text1{ float:left; width:420px; height:auto; margin-top:20px;}
.zp_text1 h2{ color:#ffffff; font-size:25px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; line-height:32px;}
.zp_text1 h3{ color:#ffffff; font-size:18px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; line-height:22px;}

.zp_text1 p{ color:#ffffff; font-size:12px; font-family:"微软雅黑"; line-height:22px;}
.zp_text2{ width:326px; height:132px;background:#cc3333; float:left; margin:50px 0 0 50px;}
#horizontal .example2 .zp_text2 dl dt{ float:left; width:64px !important; height:64px; margin:1px 0px 1px 1px; position:relative;}
.zp2 span{ left:65px;}
.zp3 span{ left:35px;}
#horizontal .example2 .zp_text2 dl dt a{ display:block; width:64px; height:64px;}
#horizontal .example2 .zp_text2 dl dt a:hover{ display:block; width:62px; border:1px solid #FF0000; height:62px;}


.zhezhao{ position:absolute; left:0px; top:0px; background:#000;  opacity:0.9; filter:alpha(opacity=90); z-index:10001; display:none; }
.tanchuceng{ height:670px; width:960px; background:#262626; position:fixed; /*bottom:130px;*/  top:120px; left:50%; margin-left:-480px;_margin-right:0px;/*Hack IE6的，请用IE6打开自行调整*/ _position:absolute; _top:expression(eval(document.documentElement.scrollTop));
 z-index:1000001; display:none;}
.close{ position:absolute; right:0; top:0;}

/*标志工程*/
.bigpic{ overflow:hidden; margin-bottom:7px; position:relative;}
.bigpic .leftbtn1{ position:absolute; top:150px; left:0px;cursor:pointer; display:none}
.bigpic .rightbtn1{ position:absolute; top:150px; right:0px; cursor:pointer; display:none;}
.bigpic .pic img{  width:960px; height:440px;}
.bigpic .pic { cursor:pointer;}

.smallpic{ overflow:hidden; position:relative; width:100%; height:108px;}
.smallpic .leftbtn{ position:absolute; top:25px; left:14px; width:23px; height:50px; }
.smallpic .leftbtn a{ background:url(../img/btn3.png) no-repeat left top; display:block; width:23px; height:50px; font-size:0; line-height:0; text-indent:-9999px;}
.smallpic .rightbtn{ position:absolute; top:25px; right:14px; width:23px; height:50px; }
.smallpic .rightbtn a{ background:url(../img/btn4.png) no-repeat left top; display:block; width:23px; height:50px; font-size:0; line-height:0; text-indent:-9999px;}

.smallpic .pic{ width:820px; margin:0 auto; height:108px; overflow:hidden; position:relative}
.smallpic .pic img{ width:192px; height:108px; cursor:pointer; margin-right:18px;}

.hotel span{ left:20px;}

.small_about1 h2{ color:#555; font-size:12px; font-family:"微软雅黑"; font-weight:bold; margin-top:10px;}
.contact p{ margin-top:8px;}
.about_text h2{ color:#fff; font-size:16px; font-family:"微软雅黑"; line-height:28px;}
.about_text h3{ color:#fff; font-size:14px; font-family:"微软雅黑"; line-height:24px;}
.contact1 p{ color:#fff; font-size:14px; font-family:"微软雅黑"; line-height:24px;}



.xin_g{ width:430px; float:left; background:#73818c; margin-right:10px; height:300px; margin-top:40px;}
.sjhang{ background:url(../img/womd.png) no-repeat; height:27px; margin-top:6px; width:106px; float:left; font-size:14px; font-size:16px;}
.sjhang1{ background:url(../img/womd1.png) no-repeat; height:27px; margin-top:6px; width:82px; float:left; font-size:14px; font-size:16px;}
.xin_g1{ background:#fff; margin-top:0;}
.xia_a{ background:#828c97; height:200px; margin-top:40px; height:300px; }
.xia_a dl{}
.xia_a dl dd{ float:left;}
.xia_a dl .fu_wenz{ width:220px; float: left; margin:30px; line-height:22px; }
.xia_a dl .fu_wenz a{ color:#fff;}
.xia_a dl .fu_tu{ float:left;width:150px; margin-top:30px; color:#fff;}
.xia_a dl .fu_tu .tu_none{ float:right; margin-right:20px; margin-bottom:10px;}

.xin_g dl{}
.xin_g dl dd{ float:left; }
.xin_g dl .fu_wenz{ width:220px; float: left; margin:30px 0 0 10px; line-height:22px; }
.xin_g dl .fu_wenz a{ color:#fff;}
.xin_g dl .fu_tu{ float:left; width:150px; margin-top:30px; color:#fff; margin-left:30px; margin-right:10px;}
.xin_g dl .fu_tu .tu_none{ float:right; margin-right:20px; margin-bottom:10px;}

.zuopin_wen{  float:left; margin:20px 0 0 50px;}
.zuopin_wen p{ color:#fff; line-height:20px;}
.zuopin_wen .zup_jiud{ font-size:14px;}

.lianx_a{ background:url(../img/lianxi.png) no-repeat; width:380px; height:300px; float:left;margin-top:8px;}

.lianxi_g{ width:1380px; height:300px; background-color:#070f2a; background-image:url(../img/lianxi_a.png); background-repeat:no-repeat;  margin:40px 0 0 0px; float:left;}

.lianxi_g_A{ width:343px; height:299px; float:left; margin-right:150px;}

.lianxi_g_B{ width:410px; float:left; margin:70px  0px 0 60px;}
.lianxi_g_B dl{}
.lianxi_g_B dl dd{ color:#fff; font-size:14px; line-height:22px;}
.lianxi_g_B dl dt{ font-size:16px; color:#fff; margin-bottom:20px;}
.lianxi_g_hong{ width:10px; float:left; height:60px; margin-left:40px; margin-right:0px; background:#d5251e; margin-top:180px;}
